.chroma-video-button {
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: -3rem;
    margin-left: -3rem;
    font-size: 6rem;
    line-height: 6rem;

    display: block;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
}

.showPauseOnHover:hover .chroma-video-button img {
    border-radius: 50%;
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.showPauseOnHover .chroma-pause-button {
    display: none;
}

.showPauseOnHover:hover .chroma-pause-button {
    display: block;
}